body {
    background-color: #bbb;
    margin: 0;
}

.vertical-flex {
    display:flex;
    flex-direction:column;
}
.autocomplete-container {
    position: relative;
}

.autocomplete-box {
    border: 1px solid;
    position: absolute;
    background-color: white;
}
